﻿@model Cliente
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
   Editar Cliente
  </div>
  <div class="card-body">
   <form asp-action="Editar" asp-controller="Cliente" method="post">
   <input type="hidden" class="form-control" asp-for="Id">
   <input type="hidden" class="form-control" asp-for="Nombre">
   <input type="hidden" class="form-control" asp-for="ApellidoPaterno">
   <input type="hidden" class="form-control" asp-for="ApellidoMaterno">
   <input type="hidden" class="form-control" asp-for="Edad">
   <input type="hidden" class="form-control" asp-for="FechaNacimiento">
   <input type="hidden" class="form-control" asp-for="Genero">
   <input type="hidden" class="form-control" asp-for="RFC">
   <input type="hidden" class="form-control" asp-for="Estatus">
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email"
    title="Formato incorrecto.Ejemplo algo@dominio.com">
  </div>
   <div class="mb-3">
    <label  class="form-label">Telefono</label>
    <input type="tel" class="form-control" asp-for="Telefono"  pattern="[0-9]{10}" 
       title="Formato incorrecto.Ejemplo 0000000000">
  </div>
  <div class="mb-3">
    <label  class="form-label">Puesto</label>
    <select class="form-select" aria-label="Default select example" asp-for="Puesto">
      <option value="1">Administrador</option>
      <option value="2">Sistemas</option>
      <option value="3">QA</option> 
    </select>
  </div>
  <div class="mb-3">
    <label  class="form-label">Fecha Baja</label>
    <input type="date" class="form-control" asp-for="FechaBaja">
  </div>
  <div class="mb-3">
 <label  class="form-label">Estado Civil</label>
    <select class="form-select" aria-label="Default select example" asp-for="EstadoCivil">
      <option value="Casado">Casado</option>
      <option value="Divorciado">Divorciado</option>
       <option value="Soltero">Soltero</option>
       <option value="Concuvinato">Concuvinato</option>
         <option value="Otro">Otro</option>
    </select>
  </div>
  <div class="mb-3">
    <label  class="form-label">Direccion</label>
    <input type="text" class="form-control" asp-for="Direccion" onkeyup="this.value = this.value.toUpperCase();">
  </div>

  <div class="card-body">
      <button type="submit" class="btn btn-primary">Actualizar</button>
      <a asp-action="Lista" asp-controller="Cliente" class="btn btn-secondary">Cancelar</a>
      
  </div>
</form>
</div>



