﻿@model Cliente
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="card">
  <div class="card-header">
    Crear usuario
  </div>
  <div class="card-body">
   <form asp-action="Guardar" asp-controller="Cliente">
  <div class="mb-3">
    <label  class="form-label">Nombre</label>
    <input type="text" class="form-control" asp-for="Nombre"  onkeyup="this.value = this.value.toUpperCase();">
  </div>
  <div class="mb-3">
    <label  class="form-label">Apellido Paterno</label>
    <input type="text" class="form-control" asp-for="ApellidoPaterno" onkeyup="this.value = this.value.toUpperCase();">
  </div>
  <div class="mb-3">
    <label  class="form-label">Apellido Materno</label>
    <input type="text" class="form-control" asp-for="ApellidoMaterno" onkeyup="this.value = this.value.toUpperCase();">
  </div>
  <div class="mb-3">
    <label  class="form-label">Fecha Nacimiento</label>
     <input type="date" class="form-control" asp-for="FechaNacimiento">
  </div>
  <div class="mb-3">
       <label  class="form-label">Genero</label>
    <select class="form-select" aria-label="Default select example" asp-for="Genero">
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
       <option value="O">Otro</option>
    </select>
  </div>
  <div class="mb-3">
   <label  class="form-label">Estado Civil</label>
    <select class="form-select" aria-label="Default select example" asp-for="EstadoCivil">
      <option value="Casado">Casado</option>
      <option value="Divorciado">Divorciado</option>
       <option value="Soltero">Soltero</option>
       <option value="Concuvinato">Concuvinato</option>
         <option value="Otro">Otro</option>
    </select>
  </div>
  <div class="mb-3">
    <label  class="form-label">RFC</label>
    <input type="text" class="form-control" asp-for="RFC" pattern="^[A-Z&Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]$" onkeyup="this.value = this.value.toUpperCase();">
  </div>
  <div class="mb-3">
    <label  class="form-label">Direccion</label>
    <input type="text" class="form-control" asp-for="Direccion" onkeyup="this.value = this.value.toUpperCase();">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email"
        title="Formato incorrecto.Ejemplo algo@dominio.com">
  </div>
  <div class="mb-3">
    <label  class="form-label">Telefono</label>
    <input type="tel" class="form-control" asp-for="Telefono"  pattern="[0-9]{10}" 
       title="Formato incorrecto.Ejemplo 0000000000">
  </div>
  <div class="mb-3">
    <label  class="form-label">Puesto</label>
    <select class="form-select" aria-label="Default select example" asp-for="Puesto">
      <option value="1">Administrador</option>
      <option value="2">Sistemas</option>
      <option value="3">QA</option> 
    </select>
  </div>
  <div class="card-body">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action="Lista" asp-controller="Cliente" class="btn btn-secondary">Cancelar</a>
  </div>
</form>
</div>


