﻿@model MiltiModel

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
 <form asp-action="Lista" asp-controller="Cliente" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="mb-3">
          <div class="modal-body">
          <div class="mb-3">
              <label  class="form-label">Nombre</label>
              <input type="text" class="form-control" asp-for="@Model.ClienteFiltroDTO.Nombre">
          </div>
          <div class="mb-3">
              <label  class="form-label">RFC</label>
              <input type="text" class="form-control" asp-for="@Model.ClienteFiltroDTO.RFC"  pattern="^[A-Z&Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]$">
          </div>
 <div class="mb-3">
       <label  class="form-label">Estatus</label>
    <select class="form-select" aria-label="Default select example" asp-for="@Model.ClienteFiltroDTO.Estatus">
      <option value="Activo">Activo</option>
      <option value="Inactivo">Inactivo</option>
    </select>
  </div>
         </div>
      </div>
      <div class="modal-footer">
           <button type="submit"  class="btn btn-primary" data-bs-dismiss="modal">Buscar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
     
    </div>
  </div>
</div>
</form>

 <form asp-action="Eliminar" asp-controller="Cliente" method="post">
<div class="card">
  <div class="card-header">
   Listado de Clientes
  </div>
  <div class="card-body">
    <a asp-action="Guardar" asp-controller="Cliente" class="btn btn-success">Crear</a>
    <a asp-action="Lista" asp-controller="Cliente" class="btn btn-success">Actualizar</a>
    <a asp-action="Filtrar" asp-controller="Cliente" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Buscar</a>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo electronico</th>
                <th>Puesto</th>
                <th>RFC</th>
                <th>Fecha Alta</th>
                <th>Acciones</th>
            </tr>
         </thead>
         <tbody>
             @foreach (var item in @Model.ClientesList)
             {
                 <tr>
                     <td>@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno </td>
                     <td>@item.Email</td>                    
                     <td>@(item.Puesto =="1" ? "Administrador" : item.Puesto =="2"? "Sistemas": "QA")</td>
                     <td>@item.RFC</td>
                     <td>@item.FechaAlta.Date.ToString("dd/MM/yyyy")</td>
                     <td>
                          <a asp-action="Editar" asp-controller="Cliente" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Editar</a>
                          <button asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-primary btn-sm" onclick="return confirm('¿Estas seguro que deceas eliminar el usuario?')">Eliminar</button>
                     </td>
                 </tr>
             }
         </tbody>
    </table>
</div>
</form>



